name: deploy docker image to ec2

on: 
    push

jobs:
    build:
        runs-on: self-hosted

        steps:
          - name: code check
            uses: actions/checkout@v3 

          - name: Login to Docker Hub
            uses: docker/login-action@v2
            with:
              username: ${{ secrets.DOCKER_USERNAME }}
              password: ${{ secrets.ACCESS_TOKEN}}

          - name: Build and push
            uses: docker/build-push-action@v4
            with:
              context: .
              push: true
              
                

    