name: deploy docker image to ec2

on: 
    push

jobs:
    build:
        runs-on: self-hosted

        steps:
          - name: code check
            uses: actions/checkout@v3 

          - name: Login to Docker Hub
            uses: docker/login-action@v1
            with:
              username: ${{secrets.DOCKER_USERNAME}}
              password: ${{secrets.DOCKER_PASSWORD}}

          #- name: Build and Push Docker Image
           # uses: docker/build-push-action@v2
            #with:
             # context: .
              #push: true
              #tags: fareedlashari/flask_app:${{github.token}}
         
                

    