name: CI/CD

on:
  push:
    branches: [main]

jobs:
        build:
          runs-on: self-hosted

          steps:
          - uses: actions/checkout@v3 
          - uses: actions/setup-python@v4 
          - run: pip install -r requirements.txt  
          - uses: actions/checkout@v3
          - uses: actions/setup-python@v4  
          - run: pip install -r requirements.txt  # install requirements to enable GitHub run tests
          - run: sudo systemctl restart nginx

